.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-brand img {
  width: 30px;
  height: auto;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin-bottom: -20px;
}

.post {
  text-align: left;
  border-left: none;
  border-right: none;
}

.post-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.post-content {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.comment .comment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
  min-width: 100px;
  font-size: 12px;
}

.messages-container {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 50%;
  min-width: 300px;
  z-index: 2;
}